<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzap</title>
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/data.js"></script>
  </head>

  <body>
    <div id="root">
      <main id="wa-interface" class="flex-center h-100">
        <div class="container flex">
          <!-- *++++++++++++++++++++CHATS LIST++++++++++++++++++++++++++++ -->
          <section id="chat-list">
            <!-- my-account -->
            <div id="user">
              <div class="user-data flex-center h-100 pointer">
                <img
                  class="img-fluid circle"
                  src="./img/avatar_io.jpg"
                  alt=""
                />
                <h4>Nome utente</h4>
              </div>
              <div class="icons pointer">
                <i class="fas fa-circle-notch fa-lg mr"></i>
                <i class="far fa-comment fa-lg mr"></i>
                <i class="fas fa-ellipsis-v fa-lg mr"></i>
              </div>
            </div>
            <!-- disclaimer notifiche -->
            <div id="enable-notification">
              <i class="fas fa-bell-slash circle mr"></i>
              <div>
                <p>Ricevi notifiche di nuovi messaggi</p>
                <span>Attiva notifiche desktop</span>
              </div>
            </div>
            <!-- input search -->
            <div id="search-user">
              <input
                type="text"
                value=""
                placeholder="&#x1F50E;      Cerca o inizia una nuova chat"
              />
            </div>
            <!-- recent chat -->
            <div id="recent-chat">
              <ul>
                <li class="contact" v-for="(contact,index) in data.contacts" @click="selectIndex(index)">
                  <img
                    class="img-fluid circle"
                    :src="'./img/avatar' + contact.avatar + '.jpg'"
                    alt=""
                  />
                  <h5>{{contact.name}}</h5>
                </li>
              </ul>
            </div>
          </section>
          <!-- *++++++++++++++++++++CHAT SECTION++++++++++++++++++++++++++++ -->
          <section v-for="(contact,index) in data.contacts"  v-if="index === visibilityIndex" id="current-chat">
            <!-- chat head -->
            <div id="current-contact">
              <div class="flex-start-center h-100">
                <img class="img-fluid circle" :src="`./img/avatar${contact.avatar}.jpg`" alt="" />
                <div>
                  <h4>{{contact.name}}</h4>
                  <span>Ultimo accesso oggi alle</span>
                </div>
              </div>
              <div>
                <i class="fas fa-search fa-lg"></i>
                <i class="fas fa-paperclip fa-lg"></i>
                <i class="fas fa-ellipsis-v fa-lg"></i>
              </div>
            </div>
            <!-- chat desk -->
            <div id="chat-desk">
              <div v-for="message in contact.messages" class="clearfix">
                <div :class="getMessageType(message)" class="message">
                  <h4>{{message.message}}</h4>
                  <span class="date">{{message.date}}</span>
                </div>
              </div>
             
            </div>
            
            <!-- chat input -->
            <div id="chat-input">
              <i class="far fa-smile"></i>
              <input
                type="text"
                name=""
                id=""
                placeholder="Scrivi un messaggio"
              />
              <i class="fas fa-microphone"></i>
            </div>
          </section>
          
          
          
        </div>
      </main>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
